@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #3d4449; /* Matching original text color */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), sans-serif;
}
